BCRYPT_COST=12
SQLITE_DATABASE=./database.sqlite
JWT_SECRET=9f3c2b8e1a7d4f6c9b2e8a1d7f5c3b9a0d8e7f6c
JWT_EXPIRES_SEC=3600

#opciones: db - file - jsonplaceholder(predeterminada)
USERS_SOURCE=

#RESEND
RESEND_API_KEY=
RESEND_FROM_EMAIL=